{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <style>
  .form-inline > .form-group {
    vertical-align: top;
  }
  </style>

  {% include "import_head.html" %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sprinkler</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <!-- <a href="#">About</a> -->
            </li>
            <li>
              <!-- <a href="#">Services</a> -->
            </li>
            <li>
              <!-- <a href="#">Contact</a> -->
            </li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="jumbotron" style="background-color:transparent !important;">
      <div class="container">
        <div class="row">
          <div class = "col-lg-12 text-center">
            <h1>Smart Sprinkler System</h1>
            <form id="property_form" class="form-inline" method="POST" role="form"> {% csrf_token %}
              {{ form|crispy }}

              <input id="submit_property" class="btn btn-primary form-control" type="submit" value="Submit" style="vertical-align:bottom">
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="status_jumbo" class="jumbotron">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>STATUS</h2>
              <h2>Current Temp: {{conditions.current_temp}}</h2>
                <h2>Recent Precip: {{conditions.recent_precip}}</h2>
                <h2>Can I water my grass now? {% if restrictions == True %}} No {% else %}Yes{%  endif %}</h2>
              <h1 id="status_string"></h1>
              <div id="list_jumbo" class="jumbotron">
                <div class="row">
                  <div class="col-lg-12">
                    <ul class="list-unstyled">
                      <li>lorem</li>
                      <li>ipsum</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.jumbotron -->
      </div> <!-- /.container -->

    </div>


<script>
window.onload = function() {
  var status = {{ status|yesno:"true,false" }}
  var color = (status) ? "rgb(190,255,140)" : "rgb(255,141,133)";
  var innerColor = (status) ? "rgb(208,255,174)" : "rgb(255,174,168)";


  document.getElementById("status_jumbo").style.backgroundColor=color;
  document.getElementById("list_jumbo").style.backgroundColor=innerColor;
  document.getElementById("status_string").innerHTML += (status) ? "CURRENTLY WATERING" : "NOT WATERING"
};
</script>

</body>